*,::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
    font-size: 62.5%;
}

body{
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(241, 239, 239, 0.9);
}
.container{
    height: 100vh;
    width: 70vw;
    margin: 2rem auto;
}

.titulo2{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.3rem;

}

.formulario{
    display: block;
    width: 50%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
}

.formulario input{
    margin: 1rem 0rem;
    line-height: 3rem;
    background: none;
    outline: 0;
    border: 0;
    color: white;

}
.formulario input:hover{
    border-bottom: 1px solid dodgerblue;
}
.formulario input:focus{
    border-bottom: 1px solid dodgerblue;
}
.formulario button{
    margin: 1rem 0rem;
    background-color: dodgerblue;
    border: 0;
    outline: 0;
    height: 3rem;
    border-radius: 10px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    
}
.formulario button:hover{
    transform: scale(1.1);
}

.listado{
    display: flex;
    flex-direction: column;
}

.contacto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4rem;

}

.elim{
    margin: 0rem 0rem;
    background-color: dodgerblue;
    border: 0;
    outline: 0;
    height: 1.2rem;
    border-radius: 2px;
    text-transform: uppercase;
    color: white;
}
.elim:hover{
    transform: scale(1.1);
    cursor: pointer;
   
}

